/algoritma1.php
/applications.html
/bitnami.css
/dashboard
/favicon.ico
/function.php
/img
/managmentsystem
/PHP ÖDEV
/PHP ÖDEV.rar
/phpegitim
/toplumail
/udemyphpegitim
/uyelikaktivasyon
/vtbaglantilari
/vtgetlastid
/vtinsert
/vtmultipleinsert
/vtolusturma
/vtprepared
/vtselectdata
/vttabloolusturma
/vtwhere
/webalizer
/xampp